html {  
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: dimgray;
  border: 10px solid gold;
  border-radius: 10px;
}

.cont >* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.disp {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 0 0 20%;
  overflow: auto;
  font-size: 40px;
  background-color: hsl(195, 100%, 97%);
  border: 6px solid hsl(0, 0%, 40%);
  border-bottom: 3px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
}

.keys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 0 40%;
  padding: 1px;
  background-color: hsl(0, 0%, 20%);
  border: 4px solid dimgray;
  border-radius: 10px;
}

.key {
  display: flex;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 30px;
  background-color: hsl(195, 100%, 95%);
  border: 3px solid gray;
  border-radius: 6px;
  margin: 1px;
}